#Template from: https://github.com/ThreeDeeJay/GitHub-Actions-build-templates/blob/main/Windows-MSBuild.yml
name: Build

env:
  GH_TOKEN: ${{github.token}}
  Branch: ${{github.ref_name}}
  Platform: #Any CPU|Win32|x86|x64 - Check .sln file for available ones
  Configuration: Release
  Artifacts: build/Release
  Title: ${{github.event.repository.name}}
  Solution: trunk/win/Source/BumpTop.sln
  DXSDK_DIR: C:\Program Files (x86)\Microsoft DirectX SDK (June 2010)\

on:
  push:
    Branches: $Branch
  pull_request:
    Branches: $Branch
  workflow_dispatch:

jobs:
  Windows:
    runs-on: windows-2022
    steps:

    - name: Clone repo and submodules
      run: git clone --recurse-submodules https://${{github.repository_owner}}:${{github.token}}@github.com/${{github.repository}}.git "${{github.workspace}}" --branch ${{env.Branch}}

    - name: Get current date, commit hash and count
      run: |
        echo "FirstCommitHash=$(git rev-list --max-parents=0 HEAD)" >> $env:GITHUB_ENV
        echo "CommitHash=$(git rev-parse HEAD)" >> $env:GITHUB_ENV
        echo "CommitHashShort=$(git rev-parse --short=7 HEAD)" >> $env:GITHUB_ENV
        echo "CommitCount=$(git rev-list --count HEAD)" >> $env:GITHUB_ENV
        echo "CommitDate=$(git show -s --date=format:'%Y-%m-%d' --format=%cd)" >> $env:GITHUB_ENV

    - name: Cache DirectX SDK
      id: DXSDK_Jun10
      uses: actions/cache@v4
      with:
        path: ${{env.DXSDK_DIR}}
        key: DXSDK_Jun10
    - name: Install DirectX SDK
      if: steps.DXSDK_Jun10.outputs.cache-hit != 'true'
      shell: powershell
      run: |
        Invoke-WebRequest -Method Get -Uri https://download.microsoft.com/download/a/e/7/ae743f1f-632b-4809-87a9-aa1bb3458e31/DXSDK_Jun10.exe -OutFile DXSDK_Jun10.exe -UseBasicParsing
        Start-Process -Wait ./DXSDK_Jun10.exe -ArgumentList "/U"
    - name: Set DXSDK_DIR
      run: echo "DXSDK_DIR=C:\Program Files (x86)\Microsoft DirectX SDK (June 2010)\" >> $env:GITHUB_ENV

    - name: Install Python 2.6
      shell: powershell
      run: |
        Invoke-WebRequest -Method Get -Uri https://www.python.org/ftp/python/2.6.6/python-2.6.6.msi -OutFile python-2.6.6.msi -UseBasicParsing
        Start-Process -Wait ./python-2.6.6.msi -ArgumentList "/quiet", "InstallAllUsers=1", "PrependPath=1" 

    - name: Download dependencies
      run: |
        curl http://download.qt-project.org/archive/qt/4.6/qt-everywhere-opensource-src-4.6.1.tar.gz -o "trunk/mac/Dependencies/qt-everywhere-opensource-src-4.6.1.tar.gz"
        curl https://raw.githubusercontent.com/TortoiseGit/tortoisesvn/refs/heads/master/src/SVN/SVNRev.h -o "trunk/win/Source/BT_SVNRevision.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_opt.h -o "trunk/win/Source/svn_opt.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_delta.h -o "trunk/win/Source/svn_delta.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_opt_impl.h -o "trunk/win/Source/svn_opt_impl.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/mod_authz_svn.h -o "trunk/win/Source/mod_authz_svn.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/mod_dav_svn.h -o "trunk/win/Source/mod_dav_svn.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_auth.h -o "trunk/win/Source/svn_auth.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_base64.h -o "trunk/win/Source/svn_base64.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_cache_config.h -o "trunk/win/Source/svn_cache_config.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_checksum.h -o "trunk/win/Source/svn_checksum.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_client.h -o "trunk/win/Source/svn_client.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_cmdline.h -o "trunk/win/Source/svn_cmdline.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_compat.h -o "trunk/win/Source/svn_compat.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_config.h -o "trunk/win/Source/svn_config.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_ctype.h -o "trunk/win/Source/svn_ctype.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_dav.h -o "trunk/win/Source/svn_dav.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_diff.h -o "trunk/win/Source/svn_diff.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_dirent_uri.h -o "trunk/win/Source/svn_dirent_uri.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_dso.h -o "trunk/win/Source/svn_dso.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_error.h -o "trunk/win/Source/svn_error.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_error_codes.h -o "trunk/win/Source/svn_error_codes.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_fs.h -o "trunk/win/Source/svn_fs.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_hash.h -o "trunk/win/Source/svn_hash.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_io.h -o "trunk/win/Source/svn_io.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_iter.h -o "trunk/win/Source/svn_iter.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_md5.h -o "trunk/win/Source/svn_md5.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_mergeinfo.h -o "trunk/win/Source/svn_mergeinfo.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_nls.h -o "trunk/win/Source/svn_nls.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_path.h -o "trunk/win/Source/svn_path.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_pools.h -o "trunk/win/Source/svn_pools.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_props.h -o "trunk/win/Source/svn_props.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_quoprint.h -o "trunk/win/Source/svn_quoprint.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_ra.h -o "trunk/win/Source/svn_ra.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_ra_svn.h -o "trunk/win/Source/svn_ra_svn.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_repos.h -o "trunk/win/Source/svn_repos.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_sorts.h -o "trunk/win/Source/svn_sorts.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_string.h -o "trunk/win/Source/svn_string.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_subst.h -o "trunk/win/Source/svn_subst.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_time.h -o "trunk/win/Source/svn_time.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_types.h -o "trunk/win/Source/svn_types.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_types_impl.h -o "trunk/win/Source/svn_types_impl.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_user.h -o "trunk/win/Source/svn_user.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_utf.h -o "trunk/win/Source/svn_utf.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_version.h -o "trunk/win/Source/svn_version.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_wc.h -o "trunk/win/Source/svn_wc.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_x509.h -o "trunk/win/Source/svn_x509.h"
        curl https://raw.githubusercontent.com/apache/subversion/refs/heads/trunk/subversion/include/svn_xml.h -o "trunk/win/Source/svn_xml.h"
        New-Item -Path 'trunk\win\Source\apr.h' -ItemType File
#curl https://raw.githubusercontent.com/apache/apr/refs/heads/trunk/include/apr.h.in -o "trunk/win/Source/apr.h"

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

#    - name: Install DirectX SDK
#      if: steps.DXSDK_Jun10.outputs.cache-hit != 'true'
#      shell: powershell
#      run: |
#        Invoke-WebRequest -Method Get -Uri https://web.archive.org/web/20130811055544/http://download.microsoft.com/download/1/E/5/1E5F1C0A-0D5B-426A-A603-1798B951DDAE/VS2010Express1.iso -OutFile VS2010Express1.iso -UseBasicParsing
#        Start-Process -Wait ./DXSDK_Jun10.exe -ArgumentList "/U"


    - name: Restore NuGet packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore "${{env.Solution}}"

    - name: Build
      run: msbuild /m "${{env.Solution}}" /p:Configuration="${{env.Configuration}}" /p:PlatformToolset="v143" /p:WarnAndContinue="true" #/p:Platform="${{env.Platform}}" /p:IncludePath="C:\Path\to\Include" /p:LibPath="C:\Path\to\Lib" /p:AdditionalIncludePaths="C:\Path\to\external\include" /p:AdditionalLibraryDirectories="C:\Path\to\external\lib" /p:LanguageStandard="stdcpp17"

    - name: List files
      run: ls -R

    - name: Upload Installer Artifact to GitHub
      uses: actions/upload-artifact@v4
      with:
        name: "${{env.Title}}_r${{env.CommitCount}}@${{env.CommitHashShort}}"
        path: "${{github.workspace}}/${{env.Artifacts}}/"

    - name: Compress artifacts
      run: |
        mkdir Release
        7z a "Release/${{env.Title}}.zip" "${{github.workspace}}/${{env.Artifacts}}/" -mx=9
        cp "Release/${{env.Title}}.zip" "Release/${{env.Title}}_r${{env.CommitCount}}@${{env.CommitHashShort}}.zip"

    - name: Purge tag - latest-${{env.Branch}}
      run: |
        gh release delete latest-${{env.Branch}} --repo ${{github.repository}} --cleanup-tag --yes || true

    - name: Release - archive
      run: |
        gh release create archive --repo ${{github.repository}} --target ${{env.FirstCommitHash}} --latest=false --prerelease --title "${{env.Title}} build archive" --notes "Latest build: https://github.com/${{github.repository}}/releases/latest
        Build log: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}" || true
        gh release upload archive --repo ${{github.repository}} --clobber "Release/${{env.Title}}_r${{env.CommitCount}}@${{env.CommitHashShort}}.zip"

    - name: Release - latest-${{env.Branch}}
      run: |
        gh release create latest-${{env.Branch}} --repo ${{github.repository}} --target ${{env.CommitHash}} --generate-notes --latest=true --title "${{env.Title}} r${{env.CommitCount}}@${{env.CommitHashShort}}" --notes "Build archive: https://github.com/${{github.repository}}/releases/tag/archive
        Build log: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}"
        gh release upload latest-${{env.Branch}} --repo ${{github.repository}} --clobber "Release/${{env.Title}}.zip"
